<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Elie Daher</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png">
    <meta name="description" content="Portfolio d’Elie Daher — Conception de niveaux et environnements 3D.">
    <link rel="stylesheet" href="./src/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="./src/scripts.js" defer></script>
</head>

<body>
    <div id="app">
        <!-- ===== SECTION 1 - BANNIÈRE "PORTFOLIO"=====  -->
        <section class="section banniere" id="banniere">
            <div class="bloc-banniere-texte">
                <h2 class="mot-portfolio">PORTFOLIO</h2>
                <div class="bloc-nom">
                    <h1 class="prenom">ELIE</h1>
                    <h1 class="nomfamille">DAHER</h1>
                </div>
                <div class="bloc-role">
                    <span class="concepteur">CONCEPTEUR DE NIVEAU</span>
                    <span class="role-3d">3D</span>
                </div>
            </div>
            <a class="fleche-banniere" href="#apropos">
                <img src="./assets/images/arrow.png" alt="Flèche vers le bas">
            </a>
        </section>

        <!-- ===== SECTION 2 - À PROPOS+OBJECTIF+CONTACT ===== -->
        <section id="apropos" class="section apropos">
            <div class="boite-texte-apropos">
                <p class="bloc-apropos">
                    J’étudie en Techniques d’intégration multimédia au Collège Montmorency.
                    Je m’intéresse beaucoup à la 3D, notamment à la création d’environnements et à la direction
                    artistique.
                    J’aime imaginer des mondes cohérents et esthétiques, jouer avec la lumière et les textures pour
                    créer une ambiance visuelle forte, que ce soit réaliste ou fictif.
                </p> <br>
                <p class="bloc-objectif">
                    Je souhaite travailler dans le domaine du jeu vidéo ou de la 3D, surtout dans la conception
                    d’environnements.
                    J’ai appris les bases de Maya et Unity, et je veux continuer à développer mes compétences tout en
                    explorant des outils comme Blender, ZBrush ou Substance Painter pour aller plus loin dans la
                    création visuelle.
                </p>
                <p class="bloc-coordonnees">
                    <br><strong><a href="sms:+14388805281">438-880-5281</a></strong> <br>
                    <strong><a href="mailto:eliedaher2000@gmail.com">eliedaher2000@gmail.com</a></strong>
                </p>
            </div>
        </section>

        <!-- ===== SECTION 3 - PROJETS: FILTRES + CARTES + COMPÉTENCES =====  -->
        <section class="section projets">
            <div class="bloc-filtres">
                <button class="bouton-filtre" :class="{ selected: activeFilter === 'TOUT'}"
                    @click="setFilter('TOUT')">TOUT</button>
                <button class="bouton-filtre" :class="{ selected: activeFilter === '3D'}"
                    @click="setFilter('3D')">3D</button>
                <button class="bouton-filtre" :class="{ selected: activeFilter === 'JEUX'}"
                    @click="setFilter('JEUX')">JEUX</button>
                <button class="bouton-filtre" :class="{ selected: activeFilter === 'WEB'}"
                    @click="setFilter('WEB')">WEB</button>
            </div>

            <!-- ===== Swiper pour la version Mobile ===== -->
            <div class="swiper projets-swiper mobile">
                <div class="swiper-wrapper">
                    <template v-for="p in projectsArr">

                        <div class="swiper-slide" v-if="activeFilter === 'TOUT' || activeFilter === p.category"
                            @click="openPopup(p)">
                            <div class="carte">
                                <img :src="p.images[0]" :alt="'Projet ' + p.title">
                                <h3 class="carte-titre">{{ p.title }}</h3>
                            </div>
                        </div>

                    </template>
                </div>
            </div>

            <!-- ===== Grid pour la version Desktop/iPad ===== -->
            <div class="projets-grille desktop">
                <template v-for="p in projectsArr">

                    <div class="carte" v-if="activeFilter === 'TOUT' || activeFilter === p.category"
                        @click="openPopup(p)">
                        <img :src="p.images[0]" :alt="'Projet ' + p.title">
                        <h3 class="carte-titre">{{ p.title }}</h3>
                    </div>

                </template>
            </div>

            <!-- ===== Logo compétences ===== -->
            <div class="logos-bloc">
                <div class="swiper logos-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="https://www.autodesk.com/products/maya/overview">
                                <img src="./assets/images/maya.png" alt="Maya">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://unity.com/">
                                <img src="./assets/images/unity.png" alt="Unity">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.figma.com/">
                                <img src="./assets/images/figma.png" alt="Figma">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://code.visualstudio.com/">
                                <img src="./assets/images/vscode.png" alt="VS Code">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://wordpress.org/">
                                <img src="./assets/images/wordpress.png" alt="WordPress">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://derivative.ca/">
                                <img src="./assets/images/touchdesigner.png" alt="Touch Designer">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.reaper.fm/">
                                <img src="./assets/images/reaper.png" alt="Reaper">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="https://www.blackmagicdesign.com/products/davinciresolve">
                                <img src="./assets/images/davinci.png" alt="DaVinci">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ===== Mini footer de la section ===== -->
            <div class="bas-de-page">
                <a href="#banniere" class="fleche-footer">
                    <img src="./assets/images/arrow.png" alt="Flèche vers le haut">
                </a>
                <ul class="socials">
                    <li><a href="https://www.linkedin.com/in/">
                            <img src="./assets/images/icon_linkedin.png" alt="LinkedIn"></a></li>
                    <li><a href="https://github.com/eliedaher07">
                            <img src="./assets/images/icon_github.png" alt="GitHub"></a></li>
                    <li><a href="https://instagram.com/eliedhr">
                            <img src="./assets/images/icon_instagram.png" alt="Instagram"></a></li>
                    <li><a href="mailto:eliedaher2000@gmail.com">
                            <img src="./assets/images/icon_mail.png" alt="Courriel"></a></li>
                </ul>
            </div>
        </section>

        <!-- ===== Popup Projet ===== -->
        <div class="popup-projet" v-show="popupOpened">

            <div class="popup-overlay" @click="closePopup()"></div>

            <section class="popup-panel">

                <button type="button" class="popup-close" @click="closePopup()">X</button>

                <div class="popup-scroll" v-if="selectedProject">
                    <!-- Titre et logiciel -->
                    <div class="popup-headerline">
                        <div class="popup-title">{{ selectedProject.title }}</div>
                        <p class="popup-software">({{ selectedProject.software }})</p>
                    </div>
                    <!-- Tags -->
                    <p class="popup-category"><strong>Catégorie :</strong> {{ selectedProject.category }}</p>
                    <p class="popup-type"><strong>Type :</strong> {{ selectedProject.type }}</p>
                    <p class="popup-team"><strong>Équipe :</strong> {{ selectedProject.team }}</p>
                    <p class="popup-course"><strong>Cours :</strong> {{ selectedProject.course }}</p>
                    <p class="popup-role"><strong>Rôle :</strong> {{ selectedProject.role }}</p>
                    <p class="popup-link"><strong><a :href="selectedProject.link">Lien du projet</a></strong>
                    </p>

                    <!-- Courte description -->
                    <p class="popup-shortDesc">{{ selectedProject.shortDesc }}</p>

                    <!-- Image 01 -->
                    <img class="popup-img" :src="selectedProject.images[0]" :alt="selectedProject.title">

                    <!-- Longue description -->
                    <p class="popup-longDesc">{{ selectedProject.longDesc }}</p>

                    <!-- Images 02, 03, 04 qui montre seulement pour les projets sans les données de processus de création  -->
                    <div v-if="!selectedProject.processImages">
                        <img class="popup-img" :src="selectedProject.images[1]" :alt="selectedProject.title">
                        <img class="popup-img" :src="selectedProject.images[2]" :alt="selectedProject.title">
                        <img class="popup-img" :src="selectedProject.images[3]" :alt="selectedProject.title">
                    </div>

                    <!-- ===== Processus de création, qui montre seulement pour le projet avec les données de processus de création ===== -->
                    <!-- Si il trouve les données "processImages", alors il montre la div -->
                    <div v-if="selectedProject.processImages">
                        <p class="popup-processus"><strong>Processus de création</strong></p>
                        <p class="popup-p">{{ selectedProject.processDescription01 }}</p>
                        <p class="popup-p">{{ selectedProject.processDescription02 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[0]" :alt="selectedProject.title">
                        <p class="popup-p">{{ selectedProject.processDescription03 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[1]" :alt="selectedProject.title">
                        <p class="popup-p">{{ selectedProject.processDescription04 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[2]" :alt="selectedProject.title">
                        <img class="popup-img" :src="selectedProject.processImages[3]" :alt="selectedProject.title">

                        <!-- Rendus finaux -->
                        <h2><strong>Version 1</strong></h2>
                        <p class="popup-p">{{ selectedProject.processDescription05 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[4]" :alt="selectedProject.title">
                        <h2><strong>Version 2</strong></h2>
                        <p class="popup-p">{{ selectedProject.processDescription06 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[5]" :alt="selectedProject.title">
                        <h2><strong>Version finale</strong></h2>
                        <p class="popup-p">{{ selectedProject.processDescription07 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[6]" :alt="selectedProject.title">
                        <p class="popup-p">{{ selectedProject.processDescription08 }}</p>
                        <img class="popup-img" :src="selectedProject.processImages[7]" :alt="selectedProject.title">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>